
.navbar-toggler{
  border: none;
}

.navbar-toggler:focus{
  box-shadow: none;
  background-color: transparant;
}

.accordion-header {
  font-size: 30px;
}

.accordion-body {
  font-size:18px;
}

.accordion-flush button{
  background-color:white;
  color: black;
  opacity: 80%;
  font-size: 20px;
}

.accordion-flush button:focus{
  background-color: black;
  color: white;
  opacity: 80%;
}

.accordion-flush button:hover{
  background-color: black;
  color: white;
  opacity: 80%;
}

.accordion-flush button:collapsed {
  color: white
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
